page-login {
 
    .buttonFacebook{
        background-color: #3b5998!important;
    }
   
    .buttonGmail{
        background-color:  #c71610;
    }

    .backgroundLogin{
        background: linear-gradient(to bottom right, #76e7af, #33a397);
    }

    
}
