<ion-header>
  <ion-navbar>
    <ion-title>
      Recicla
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  
  <div>
    <a style="display:block;" >
      <img src="assets/img/home.jpg" style="display:block;width:auto;height:140px;margin-left:auto;margin-right:auto;" />
    </a>
  </div>
  <div class="spacer" style="width:300px;height:20px;" id="recicla-spacer3"></div>
  <button on-click="goToInformaciN()" class="learnButton" id="login-button13" ion-button outline color="positive" block icon-left >
      
      Aprende a reciclar
    </button>
  
  <div id="recicla-markdown4" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      El objetivo de RECICLA es que los mienbros de la comunidad sean más concientes de los beneficios de reclilar
      y en el proceso aprendan la correcta forma de hacerlo. Brindamos información certera de las formas de reciclaje 
      y acompañamos este aprendizaje con un juego interactivo para complementar lo aprendido.
    </p>
  </div>
  <h3>Mejor puntaje:</h3>
  <p style="color:#000000;" *ngIf="userData.bestGamePoints==0">
    Aún no has jugado... 
  </p>
  <p style="color:#000000;" *ngIf="userData.bestGamePoints!=0">
    Mejor puntaje: {{userData.bestGamePoints}}<br>
    Mejor tiempo: {{userData.bestGameTime}} s
  </p>
  <button icon-left
  
  id="recicla-button2" class="buttonPlay" ion-button color="balanced" block on-click="playGame()">
    <ion-icon name="md-game-controller-a"></ion-icon>
    Jugar!
  </button>
</ion-content>