page-game {


  .items{
    display: flex;
    flex-flow: row nowrap;
    display: -ms-flexbox;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  }

  .darkBackground{
     .progress-inner {

    background-color: #33a397!important;
    }
  }
  .redBackground{
    .progress-inner {

   background-color:red!important;
   }
 }
}
